
//colors

//Primary
$primary-1:#03a9f4;
$primary-2:#f75e2e;
$primary-3:#ecfa4d;
$primary-4:#656a70;

//lighten-1
$pr1-light-1:lighten($primary-1,20%);
$pr2-light-1:lighten($primary-2,18%);
$pr3-light-1:lighten($primary-3,20%);
$pr4-light-1:lighten($primary-4,20%);

//lighten-2
$pr1-light-2:lighten($primary-1,38%);
$pr2-light-2:lighten($primary-2,32%);
$pr3-light-2:lighten($primary-3,26%);
$pr4-light-2:lighten($primary-4,40%);

//lighten-3
$pr1-light-3:lighten($primary-1,46%);
$pr2-light-3:lighten($primary-2,38%);
$pr3-light-3:lighten($primary-3,32%);
$pr4-light-3:lighten($primary-4,52%);

//darken-1
$pr1-dark-1:darken($primary-1,9%);
$pr2-dark-1:darken($primary-2,15%);
$pr3-dark-1:darken($primary-3,24%);
$pr4-dark-1:darken($primary-4,6%);

//darken-2
$pr1-dark-2:darken($primary-1,22%);
$pr2-dark-2:darken($primary-2,30%);
$pr3-dark-2:darken($primary-3,39%);
$pr4-dark-2:darken($primary-4,20%);

//darken-3
$pr1-dark-3:darken($primary-1,33%);
$pr2-dark-3:darken($primary-2,42%);
$pr3-dark-3:#4a1c0e;


