.bg-top-baner {
    background-color: $pr1-light-3;
    background-image: url(../../../img/img_city_cloud.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.main-baner {
    padding-top: 13.59%;
    padding-bottom: 13.59%;
    position: relative;

    .banner-info {

        .blue-h1 {
            color: $primary-1;
            padding: 0;
        }

        .dark-h1 {
            color: $dark;
            padding: 0;
        }
        .tabs-content {
            padding: 0;

            .tabs {
                margin: 0 0 25px 0;
            
                .tabs__items {
                    display: flex;
            
                    .tabs__item {
                        flex: 0 1 10%;
                        height: 25px;
                        display: flex;
                        justify-content: center;
                        justify-items: center;
                        border-bottom: 1px solid $pr4-light-2;
            
            
                        span {
                            position: relative;
                            z-index: 2;
                            font-family: $font-medium;
                            font-size: 14px;
                            color: $pr4-light-1;
            
                        }
                    }
                }
            
                .tabs__items a {
                    text-decoration: none;
                }
            
                .tabs_body {
            
                    .tabs_block {
                        padding: 15px 10px 15px 0px;
                        font-size: 18px;
                        line-height: 24px;
                        display: none;
                        position: relative;
                        font-size: 15px;
                        font-family: $font-regular;
                        color: $primary-4;
                        min-height: 130px;
            
            
                        &:nth-child(1)::before {
                            border-bottom: 2px solid $primary-2;
                            left: 0;
                        }
            
                        &:nth-child(2)::before {
                            border-bottom: 2px solid $primary-2;
                            left: 10%;
                        }

                        &:nth-child(3)::before {
                            border-bottom: 2px solid $primary-2;
                            left: 20%;
                        }

                        &:nth-child(4)::before {
                            border-bottom: 2px solid $primary-2;
                            left: 30%;
                        }

                        &:nth-child(5)::before {
                            border-bottom: 2px solid $primary-2;
                            left: 40%;
                        }

                        &:nth-child(6)::before {
                            border-bottom: 2px solid $primary-2;
                            left: 50%;
                        }

                        &:nth-child(7)::before {
                            border-bottom: 2px solid $primary-2;
                            left: 60%;
                        }

                        &:nth-child(8)::before {
                            border-bottom: 2px solid $primary-2;
                            left: 70%;
                        }
            
                        &:nth-child(9)::before {
                            border-bottom: 2px solid $primary-2;
                            right: 10%;
                        }
            
                        &:nth-child(10)::before {
                            border-bottom: 2px solid $primary-2;
                            right: 0;
                        }
            
                        &:target {
                            display: block;
                        }
            
                        &::before {
                            content: '';
                            height: 25px;
                            width: 10%;
                            position: absolute;
                            top: -25px;
                        }
                    }
            
                }
            }
        }
    }
    .banner-img {
        position: relative;

        img {
            max-width: 325px;
            position: absolute;
            left: -50px;
            top: -55px;
            z-index: 5;
        }
    }
    .banner-select {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        z-index: 3;
        
        padding-top: 2.63%;
        padding-bottom: 3.245%;
        padding-left: 20px;
        padding-right: 20px;
        background-color: $primary-1;
        position: absolute;
        bottom: -67px;

        .ban-item-select {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            margin-right: 20px;

            span {
                font-family: $font-medium;
                color: $light;
                font-size: 13px;
            }

            .input-2 {
                width: 201px;
                color: $primary-4;
                transition: 1s;
            }
        }
        .ban-item-bottom {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            margin-right: 20px;

            span {
                font-family: $font-medium;
                color: $light;
                font-size: 13px;
            }
            div {
                display: inline-block;
                position: relative;
                .input-5 {
                    width: 201px;
                    color: $primary-4;
                    transition: 1s;
                }
                .b-1 {
                    width: 50px;
                    height: 50px;
                    background-color: $pr1-light-3;
                    color: $primary-4;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 28px;
                    border: 1px solid $pr4-light-2;
                    position: absolute;
                    left: 0px;
                    top: 0px;

                    &:focus {
                        outline: none;
                        background-color: $light;
                    }
                
                    &:active {
                        outline: none;
                        background-color: $light;
                    }
                }
                .b-2 {
                    width: 50px;
                    height: 50px;
                    background-color: $pr1-light-3;
                    color: $primary-4;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 28px;
                    border: 1px solid $pr4-light-2;
                    position: absolute;
                    right: 0px;
                    top: 0px;

                    &:focus {
                        outline: none;
                        background-color: $light;
                    }
                
                    &:active {
                        outline: none;
                        background-color: $light;
                    }
                }
            }    
        }
        .ban-item-button {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            
            span {
                color: $primary-1;
                font-family: $font-medium;  
                font-size: 13px;
            }

            .btn-3 {
                transition: 1s;
            }
        }
    }
}