.bg-top-footer {
    background-color: $primary-1;
}

.top-footer {
    padding-top: 1.7543%;
    padding-bottom: 2.4561%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid $pr1-light-1;

    .footer-logo {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 0px;
        padding: 0;

        .logo {
            display: flex;
            text-decoration: none;
            align-items: center;

            .logo-text {
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin-left: 10px;

                .first-logo-text {
                    font-family: $font-fourth-regular;
                    font-size: 39px;
                    color: $light;
                    margin: 0;
                    height: 40px;
                    transition: 1s;

                    &:hover {
                        color: $primary-3;
                    }


                    .essay-ye {
                        font-family: $font-regular;
                        font-size: 20px;
                        color: $primary-3;
                        text-transform: uppercase;
                    }

                    .net {
                        font-family: $font-regular;
                        font-size: 13px;
                    }
                }

                .second-logo-text {
                    font-family: $font-regular;
                    font-size: 13px;
                    text-transform: capitalize;
                    color: $light;
                    margin: 0;
                }
            }
        }
    }
    .footer-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;
        padding: 0;

        ul {
            list-style-type: none;

            li {
                margin-right: 30px;
                padding: 10px;
                display: inline-block;

                a {
                    text-decoration: none;
                    color: $light;
                    font-family: $font-semibold;
                    font-size: 12px;
                    line-height: 16px;
                    text-transform: uppercase;
                    transition: 1s;

                    &:hover {
                        color: $primary-3;
                    }
                }
            }
        }
    }
}

.main-footer {
    padding-top: 4.3859%;
    padding-bottom: 4.3859%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid $pr1-light-1;

    .main-footer-item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
        
        h5 {
            font-size: 16px;
            color: $light;
            margin-bottom: 30px;
            padding: 0;            
        }

        p {
            font-size: 13px;
            line-height: 28px;
            color: $light;       
        }
    }
}

.bottom-footer {
    padding-top: 3.5087%;
    padding-bottom: 3.5087%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .copyright {
        display: flex;        
        justify-content: flex-start;
        align-items: center;
        order: 1;
        p {
            font-family: $font-third-regular;
            font-size: 13px;
            line-height: 21px;
            color: $light;
            margin: 0;
            margin-top: 0;
        }
    }

    .bottom-footer-links {
        display: flex;        
        justify-content: center;
        align-items: center;
        order: 2;

        a {
            text-decoration: none;
            display: inline-block;
            width: 31px;
            height: 31px;
            border: 1px solid $light;
            border-radius: 50%;
            background-color: $primary-1;
            font-size: 15px;
            color: $light;
            margin-right: 10px;
            transition: 1s;

            &:hover {
                background-color: $pr1-dark-1;
                border: none;
            }
            
            div {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;

            }    
        }
    }
    .phone {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        order: 3;

        a {
            text-decoration: none;
            display: inline-block;
            width: 31px;
            height: 31px;
            border: 1px solid $light;
            border-radius: 50%;
            background-color: $light;
            font-size: 19px;
            color: $primary-1;
            margin-right: 15px;
            transition: 1s;

            &:hover {
                background-color: $pr1-dark-1;
                border: none;
                color: $light;
            }
            
            div {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }    
        }
        .number {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;

            .numb-1 {
                font-family: $font-medium;
                font-size: 13px;
                line-height: 16px;
                color: $light;
            }

            .numb-2 {
                font-family: $font-regular;
                font-size: 16px;
                line-height: 16px;
                color: $light;
                transition: 1s;

                &:hover {
                    color: $primary-3;
                }
            }
        }        
    }
    .email {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        order: 4;

        a {
            text-decoration: none;
            display: inline-block;
            width: 31px;
            height: 31px;
            border: 1px solid $light;
            border-radius: 50%;
            background-color: $light;
            font-size: 16px;
            color: $primary-1;
            margin-right: 15px;
            transition: 1s;

            &:hover {
                background-color: $pr1-dark-1;
                border: none;
                color: $light;
            }
            
            div {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }   
        }
        .em {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;

            .em-1 {
                font-family: $font-medium;
                font-size: 13px;
                line-height: 16px;
                color: $light;
            }

            .em-2 {
                font-family: $font-medium;
                font-size: 13px;
                line-height: 16px;
                color: $light;
                transition: 1s;

                &:hover {
                    color: $primary-3;
                }
            }
        }
    }
}

@media (max-width: 575px) {
    .container {
        max-width: none;
        padding: 5px;

        .top-footer {
            padding-top: 1.7543%;
            padding-bottom: 2.4561%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: 2px solid $pr1-light-1;
        
            .footer-logo {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 15px;
                padding: 0;
        
                .logo {
                    display: flex;
                    text-decoration: none;
                    align-items: center;
        
                    .logo-text {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        margin-left: 10px;
        
                        .first-logo-text {
                            font-family: $font-fourth-regular;
                            font-size: 39px;
                            color: $light;
                            margin: 0;
                            height: 40px;
                            transition: 1s;
        
                            &:hover {
                                color: $primary-3;
                            }
        
        
                            .essay-ye {
                                font-family: $font-regular;
                                font-size: 20px;
                                color: $primary-3;
                                text-transform: uppercase;
                            }
        
                            .net {
                                font-family: $font-regular;
                                font-size: 13px;
                            }
                        }
        
                        .second-logo-text {
                            font-family: $font-regular;
                            font-size: 13px;
                            text-transform: capitalize;
                            color: $light;
                            margin: 0;
                        }
                    }
                }
            }
            .footer-nav {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: nowrap;
                padding: 0;
        
                ul {
                    list-style-type: none;
        
                    li {
                        margin-right: 20px;
                        padding: 6px;
                        display: inline-block;
        
                        a {
                            text-decoration: none;
                            color: $light;
                            font-family: $font-semibold;
                            font-size: 12px;
                            line-height: 16px;
                            text-transform: uppercase;
                            transition: 1s;
        
                            &:hover {
                                color: $primary-3;
                            }
                        }
                    }
                }
            }
        }
        .main-footer {
            padding-top: 4.3859%;
            padding-bottom: 4.3859%;
            display: none;
            align-items: center;
            justify-content: center;
            border-bottom: 2px solid $pr1-light-1;
        
            .main-footer-item {
                display: none;
                flex-direction: column;
                align-items: flex-start;
                padding: 10px;
                
                h5 {
                    font-size: 16px;
                    color: $light;
                    margin-bottom: 30px;
                    padding: 0;            
                }
        
                p {
                    font-size: 13px;
                    line-height: 28px;
                    color: $light;       
                }
            }
        }
        .bottom-footer {
            padding-top: 0;
            padding-bottom: 3.5087%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
        
            .copyright {
                margin-top: 0px;
                display: flex;        
                justify-content: center;
                align-items: center;
                order: 4;
                p {
                    font-family: $font-third-regular;
                    font-size: 13px;
                    line-height: 21px;
                    color: $light;
                    margin: 0;
                    margin-top: 0;
                    text-align: center;
                }
            }
        
            .bottom-footer-links {
                display: flex;
                flex-direction: column;        
                justify-content: center;
                align-items: center;
                order: 2;
                position: fixed;
                top: 280px;
                right: 2px;
                z-index: 6;
        
                a {
                    text-decoration: none;
                    display: inline-block;
                    width: 45px;
                    height: 45px;
                    border: 1px solid $light;
                    border-radius: 50%;
                    background-color: $primary-1;
                    font-size: 17px;
                    color: $light;
                    margin-right: 10px;
                    transition: 1s;
        
                    &:hover {
                        background-color: $pr1-dark-1;
                        border: none;
                    }
                    
                    div {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
        
                    }    
                }
            }
            .phone {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                order: 3;
        
                a {
                    text-decoration: none;
                    display: inline-block;
                    width: 31px;
                    height: 31px;
                    border: 1px solid $light;
                    border-radius: 50%;
                    background-color: $light;
                    font-size: 19px;
                    color: $primary-1;
                    margin-right: 15px;
                    transition: 1s;
        
                    &:hover {
                        background-color: $pr1-dark-1;
                        border: none;
                        color: $light;
                    }
                    
                    div {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }    
                }
                .number {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
        
                    .numb-1 {
                        font-family: $font-medium;
                        font-size: 13px;
                        line-height: 16px;
                        color: $light;
                    }
        
                    .numb-2 {
                        font-family: $font-regular;
                        font-size: 16px;
                        line-height: 16px;
                        color: $light;
                        transition: 1s;
        
                        &:hover {
                            color: $primary-3;
                        }
                    }
                }        
            }
            .email {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                order: 1;
                padding: 0;
        
                a {
                    text-decoration: none;
                    display: inline-block;
                    width: 31px;
                    height: 31px;
                    border: 1px solid $light;
                    border-radius: 50%;
                    background-color: $light;
                    font-size: 16px;
                    color: $primary-1;
                    margin-right: 10px;
                    transition: 1s;
        
                    &:hover {
                        background-color: $pr1-dark-1;
                        border: none;
                        color: $light;
                    }
                    
                    div {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }   
                }
                .em {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
        
                    .em-1 {
                        font-family: $font-medium;
                        font-size: 13px;
                        line-height: 16px;
                        color: $light;
                    }
        
                    .em-2 {
                        font-family: $font-medium;
                        font-size: 13px;
                        line-height: 16px;
                        color: $light;
                        transition: 1s;
        
                        &:hover {
                            color: $primary-3;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;

        .top-footer {
            padding-top: 1.7543%;
            padding-bottom: 2.4561%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: 2px solid $pr1-light-1;
        
            .footer-logo {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 15px;
                padding: 0;
        
                .logo {
                    display: flex;
                    text-decoration: none;
                    align-items: center;
        
                    .logo-text {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        margin-left: 10px;
        
                        .first-logo-text {
                            font-family: $font-fourth-regular;
                            font-size: 39px;
                            color: $light;
                            margin: 0;
                            height: 40px;
                            transition: 1s;
        
                            &:hover {
                                color: $primary-3;
                            }
        
        
                            .essay-ye {
                                font-family: $font-regular;
                                font-size: 20px;
                                color: $primary-3;
                                text-transform: uppercase;
                            }
        
                            .net {
                                font-family: $font-regular;
                                font-size: 13px;
                            }
                        }
        
                        .second-logo-text {
                            font-family: $font-regular;
                            font-size: 13px;
                            text-transform: capitalize;
                            color: $light;
                            margin: 0;
                        }
                    }
                }
            }
            .footer-nav {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: nowrap;
                padding: 0;
        
                ul {
                    list-style-type: none;
        
                    li {
                        margin-right: 10px;
                        padding: 3px;
                        display: inline-block;
        
                        a {
                            text-decoration: none;
                            color: $light;
                            font-family: $font-semibold;
                            font-size: 12px;
                            line-height: 16px;
                            text-transform: uppercase;
                            transition: 1s;
        
                            &:hover {
                                color: $primary-3;
                            }
                        }
                    }
                }
            }
        }
        .main-footer {
            padding-top: 4.3859%;
            padding-bottom: 4.3859%;
            display: flex;
            align-items: center;
            justify-content: center;
            border-bottom: 2px solid $pr1-light-1;
        
            .main-footer-item {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                padding: 10px;
                
                h5 {
                    font-size: 16px;
                    color: $light;
                    margin-bottom: 30px;
                    padding: 0;            
                }
        
                p {
                    font-size: 13px;
                    line-height: 28px;
                    color: $light;       
                }
            }
        }
        .bottom-footer {
            padding-top: 3.5087%;
            padding-bottom: 3.5087%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
        
            .copyright {
                margin-top: 20px;
                display: flex;        
                justify-content: flex-start;
                align-items: center;
                order: 4;
                p {
                    font-family: $font-third-regular;
                    font-size: 13px;
                    line-height: 21px;
                    color: $light;
                    margin: 0;
                    margin-top: 0;
                    text-align: center;
                }
            }
        
            .bottom-footer-links {
                display: flex;        
                justify-content: center;
                align-items: center;
                order: 2;
        
                a {
                    text-decoration: none;
                    display: inline-block;
                    width: 31px;
                    height: 31px;
                    border: 1px solid $light;
                    border-radius: 50%;
                    background-color: $primary-1;
                    font-size: 15px;
                    color: $light;
                    margin-right: 10px;
                    transition: 1s;
        
                    &:hover {
                        background-color: $pr1-dark-1;
                        border: none;
                    }
                    
                    div {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
        
                    }    
                }
            }
            .phone {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                order: 3;
        
                a {
                    text-decoration: none;
                    display: inline-block;
                    width: 31px;
                    height: 31px;
                    border: 1px solid $light;
                    border-radius: 50%;
                    background-color: $light;
                    font-size: 19px;
                    color: $primary-1;
                    margin-right: 15px;
                    transition: 1s;
        
                    &:hover {
                        background-color: $pr1-dark-1;
                        border: none;
                        color: $light;
                    }
                    
                    div {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }    
                }
                .number {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
        
                    .numb-1 {
                        font-family: $font-medium;
                        font-size: 13px;
                        line-height: 16px;
                        color: $light;
                    }
        
                    .numb-2 {
                        font-family: $font-regular;
                        font-size: 16px;
                        line-height: 16px;
                        color: $light;
                        transition: 1s;
        
                        &:hover {
                            color: $primary-3;
                        }
                    }
                }        
            }
            .email {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                order: 1;
                padding: 0;
        
                a {
                    text-decoration: none;
                    display: inline-block;
                    width: 31px;
                    height: 31px;
                    border: 1px solid $light;
                    border-radius: 50%;
                    background-color: $light;
                    font-size: 16px;
                    color: $primary-1;
                    margin-right: 10px;
                    transition: 1s;
        
                    &:hover {
                        background-color: $pr1-dark-1;
                        border: none;
                        color: $light;
                    }
                    
                    div {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }   
                }
                .em {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
        
                    .em-1 {
                        font-family: $font-medium;
                        font-size: 13px;
                        line-height: 16px;
                        color: $light;
                    }
        
                    .em-2 {
                        font-family: $font-medium;
                        font-size: 13px;
                        line-height: 16px;
                        color: $light;
                        transition: 1s;
        
                        &:hover {
                            color: $primary-3;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;

        .top-footer {
            padding-top: 1.7543%;
            padding-bottom: 2.4561%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: 2px solid $pr1-light-1;
        
            .footer-logo {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 15px;
                padding: 0;
        
                .logo {
                    display: flex;
                    text-decoration: none;
                    align-items: center;
        
                    .logo-text {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        margin-left: 10px;
        
                        .first-logo-text {
                            font-family: $font-fourth-regular;
                            font-size: 39px;
                            color: $light;
                            margin: 0;
                            height: 40px;
                            transition: 1s;
        
                            &:hover {
                                color: $primary-3;
                            }
        
        
                            .essay-ye {
                                font-family: $font-regular;
                                font-size: 20px;
                                color: $primary-3;
                                text-transform: uppercase;
                            }
        
                            .net {
                                font-family: $font-regular;
                                font-size: 13px;
                            }
                        }
        
                        .second-logo-text {
                            font-family: $font-regular;
                            font-size: 13px;
                            text-transform: capitalize;
                            color: $light;
                            margin: 0;
                        }
                    }
                }
            }
            .footer-nav {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: nowrap;
                padding: 0;
        
                ul {
                    list-style-type: none;
        
                    li {
                        margin-right: 20px;
                        padding: 6px;
                        display: inline-block;
        
                        a {
                            text-decoration: none;
                            color: $light;
                            font-family: $font-semibold;
                            font-size: 12px;
                            line-height: 16px;
                            text-transform: uppercase;
                            transition: 1s;
        
                            &:hover {
                                color: $primary-3;
                            }
                        }
                    }
                }
            }
        }
        .main-footer {
            padding-top: 4.3859%;
            padding-bottom: 4.3859%;
            display: flex;
            align-items: center;
            justify-content: center;
            border-bottom: 2px solid $pr1-light-1;
        
            .main-footer-item {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                padding: 10px;
                
                h5 {
                    font-size: 16px;
                    color: $light;
                    margin-bottom: 30px;
                    padding: 0;            
                }
        
                p {
                    font-size: 13px;
                    line-height: 28px;
                    color: $light;       
                }
            }
        }
        .bottom-footer {
            padding-top: 3.5087%;
            padding-bottom: 3.5087%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
        
            .copyright {
                margin-top: 20px;
                display: flex;        
                justify-content: flex-start;
                align-items: center;
                order: 4;
                p {
                    font-family: $font-third-regular;
                    font-size: 13px;
                    line-height: 21px;
                    color: $light;
                    margin: 0;
                    margin-top: 0;
                    text-align: center;
                }
            }
        
            .bottom-footer-links {
                display: flex;        
                justify-content: center;
                align-items: center;
                order: 2;
        
                a {
                    text-decoration: none;
                    display: inline-block;
                    width: 31px;
                    height: 31px;
                    border: 1px solid $light;
                    border-radius: 50%;
                    background-color: $primary-1;
                    font-size: 15px;
                    color: $light;
                    margin-right: 10px;
                    transition: 1s;
        
                    &:hover {
                        background-color: $pr1-dark-1;
                        border: none;
                    }
                    
                    div {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
        
                    }    
                }
            }
            .phone {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                order: 3;
        
                a {
                    text-decoration: none;
                    display: inline-block;
                    width: 31px;
                    height: 31px;
                    border: 1px solid $light;
                    border-radius: 50%;
                    background-color: $light;
                    font-size: 19px;
                    color: $primary-1;
                    margin-right: 15px;
                    transition: 1s;
        
                    &:hover {
                        background-color: $pr1-dark-1;
                        border: none;
                        color: $light;
                    }
                    
                    div {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }    
                }
                .number {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
        
                    .numb-1 {
                        font-family: $font-medium;
                        font-size: 13px;
                        line-height: 16px;
                        color: $light;
                    }
        
                    .numb-2 {
                        font-family: $font-regular;
                        font-size: 16px;
                        line-height: 16px;
                        color: $light;
                        transition: 1s;
        
                        &:hover {
                            color: $primary-3;
                        }
                    }
                }        
            }
            .email {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                order: 1;
                padding: 0;
        
                a {
                    text-decoration: none;
                    display: inline-block;
                    width: 31px;
                    height: 31px;
                    border: 1px solid $light;
                    border-radius: 50%;
                    background-color: $light;
                    font-size: 16px;
                    color: $primary-1;
                    margin-right: 10px;
                    transition: 1s;
        
                    &:hover {
                        background-color: $pr1-dark-1;
                        border: none;
                        color: $light;
                    }
                    
                    div {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }   
                }
                .em {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
        
                    .em-1 {
                        font-family: $font-medium;
                        font-size: 13px;
                        line-height: 16px;
                        color: $light;
                    }
        
                    .em-2 {
                        font-family: $font-medium;
                        font-size: 13px;
                        line-height: 16px;
                        color: $light;
                        transition: 1s;
        
                        &:hover {
                            color: $primary-3;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;

        .top-footer {
            padding-top: 1.7543%;
            padding-bottom: 2.4561%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: 2px solid $pr1-light-1;
        
            .footer-logo {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                margin-bottom: 0px;
                padding: 0;
        
                .logo {
                    display: flex;
                    text-decoration: none;
                    align-items: center;
        
                    .logo-text {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        margin-left: 10px;
        
                        .first-logo-text {
                            font-family: $font-fourth-regular;
                            font-size: 39px;
                            color: $light;
                            margin: 0;
                            height: 40px;
                            transition: 1s;
        
                            &:hover {
                                color: $primary-3;
                            }
        
        
                            .essay-ye {
                                font-family: $font-regular;
                                font-size: 20px;
                                color: $primary-3;
                                text-transform: uppercase;
                            }
        
                            .net {
                                font-family: $font-regular;
                                font-size: 13px;
                            }
                        }
        
                        .second-logo-text {
                            font-family: $font-regular;
                            font-size: 13px;
                            text-transform: capitalize;
                            color: $light;
                            margin: 0;
                        }
                    }
                }
            }
            .footer-nav {
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-wrap: nowrap;
                padding: 0;
        
                ul {
                    list-style-type: none;
        
                    li {
                        margin-right: 20px;
                        padding: 6px;
                        display: inline-block;
        
                        a {
                            text-decoration: none;
                            color: $light;
                            font-family: $font-semibold;
                            font-size: 12px;
                            line-height: 16px;
                            text-transform: uppercase;
                            transition: 1s;
        
                            &:hover {
                                color: $primary-3;
                            }
                        }
                    }
                }
            }
        }
        .main-footer {
            padding-top: 4.3859%;
            padding-bottom: 4.3859%;
            display: flex;
            align-items: center;
            justify-content: center;
            border-bottom: 2px solid $pr1-light-1;
        
            .main-footer-item {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                padding: 10px;
                
                h5 {
                    font-size: 16px;
                    color: $light;
                    margin-bottom: 30px;
                    padding: 0;            
                }
        
                p {
                    font-size: 13px;
                    line-height: 28px;
                    color: $light;       
                }
            }
        }
        .bottom-footer {
            padding-top: 3.5087%;
            padding-bottom: 3.5087%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
        
            .copyright {
                margin-top: 25px;
                display: flex;        
                justify-content: flex-start;
                align-items: center;
                order: 4;
                p {
                    font-family: $font-third-regular;
                    font-size: 13px;
                    line-height: 21px;
                    color: $light;
                    margin: 0;
                    margin-top: 0;
                    text-align: center;
                }
            }
        
            .bottom-footer-links {
                display: flex;        
                justify-content: center;
                align-items: center;
                order: 2;
        
                a {
                    text-decoration: none;
                    display: inline-block;
                    width: 31px;
                    height: 31px;
                    border: 1px solid $light;
                    border-radius: 50%;
                    background-color: $primary-1;
                    font-size: 15px;
                    color: $light;
                    margin-right: 10px;
                    transition: 1s;
        
                    &:hover {
                        background-color: $pr1-dark-1;
                        border: none;
                    }
                    
                    div {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
        
                    }    
                }
            }
            .phone {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                order: 3;
        
                a {
                    text-decoration: none;
                    display: inline-block;
                    width: 31px;
                    height: 31px;
                    border: 1px solid $light;
                    border-radius: 50%;
                    background-color: $light;
                    font-size: 19px;
                    color: $primary-1;
                    margin-right: 15px;
                    transition: 1s;
        
                    &:hover {
                        background-color: $pr1-dark-1;
                        border: none;
                        color: $light;
                    }
                    
                    div {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }    
                }
                .number {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
        
                    .numb-1 {
                        font-family: $font-medium;
                        font-size: 13px;
                        line-height: 16px;
                        color: $light;
                    }
        
                    .numb-2 {
                        font-family: $font-regular;
                        font-size: 16px;
                        line-height: 16px;
                        color: $light;
                        transition: 1s;
        
                        &:hover {
                            color: $primary-3;
                        }
                    }
                }        
            }
            .email {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                order: 1;
        
                a {
                    text-decoration: none;
                    display: inline-block;
                    width: 31px;
                    height: 31px;
                    border: 1px solid $light;
                    border-radius: 50%;
                    background-color: $light;
                    font-size: 16px;
                    color: $primary-1;
                    margin-right: 15px;
                    transition: 1s;
        
                    &:hover {
                        background-color: $pr1-dark-1;
                        border: none;
                        color: $light;
                    }
                    
                    div {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }   
                }
                .em {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
        
                    .em-1 {
                        font-family: $font-medium;
                        font-size: 13px;
                        line-height: 16px;
                        color: $light;
                    }
        
                    .em-2 {
                        font-family: $font-medium;
                        font-size: 13px;
                        line-height: 16px;
                        color: $light;
                        transition: 1s;
        
                        &:hover {
                            color: $primary-3;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;

        .top-footer {
            padding-top: 1.7543%;
            padding-bottom: 2.4561%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: 2px solid $pr1-light-1;
        
            .footer-logo {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                margin-bottom: 0px;
                padding: 0;
        
                .logo {
                    display: flex;
                    text-decoration: none;
                    align-items: center;
        
                    .logo-text {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        margin-left: 10px;
        
                        .first-logo-text {
                            font-family: $font-fourth-regular;
                            font-size: 39px;
                            color: $light;
                            margin: 0;
                            height: 40px;
                            transition: 1s;
        
                            &:hover {
                                color: $primary-3;
                            }
        
        
                            .essay-ye {
                                font-family: $font-regular;
                                font-size: 20px;
                                color: $primary-3;
                                text-transform: uppercase;
                            }
        
                            .net {
                                font-family: $font-regular;
                                font-size: 13px;
                            }
                        }
        
                        .second-logo-text {
                            font-family: $font-regular;
                            font-size: 13px;
                            text-transform: capitalize;
                            color: $light;
                            margin: 0;
                        }
                    }
                }
            }
            .footer-nav {
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-wrap: nowrap;
                padding: 0;
        
                ul {
                    list-style-type: none;
        
                    li {
                        margin-right: 30px;
                        padding: 10px;
                        display: inline-block;
        
                        a {
                            text-decoration: none;
                            color: $light;
                            font-family: $font-semibold;
                            font-size: 12px;
                            line-height: 16px;
                            text-transform: uppercase;
                            transition: 1s;
        
                            &:hover {
                                color: $primary-3;
                            }
                        }
                    }
                }
            }
        }
        .main-footer {
            padding-top: 4.3859%;
            padding-bottom: 4.3859%;
            display: flex;
            align-items: center;
            justify-content: center;
            border-bottom: 2px solid $pr1-light-1;
        
            .main-footer-item {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                padding: 10px;
                
                h5 {
                    font-size: 16px;
                    color: $light;
                    margin-bottom: 30px;
                    padding: 0;            
                }
        
                p {
                    font-size: 13px;
                    line-height: 28px;
                    color: $light;       
                }
            }
        }
        .bottom-footer {
            padding-top: 3.5087%;
            padding-bottom: 3.5087%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: nowrap;
        
            .copyright {
                margin-top: 0px;
                display: flex;        
                justify-content: flex-start;
                align-items: center;
                order: 1;
                p {
                    font-family: $font-third-regular;
                    font-size: 13px;
                    line-height: 21px;
                    color: $light;
                    margin: 0;
                    margin-top: 0;
                    text-align: left;
                }
            }
        
            .bottom-footer-links {
                display: flex;        
                justify-content: center;
                align-items: center;
                order: 2;
        
                a {
                    text-decoration: none;
                    display: inline-block;
                    width: 31px;
                    height: 31px;
                    border: 1px solid $light;
                    border-radius: 50%;
                    background-color: $primary-1;
                    font-size: 15px;
                    color: $light;
                    margin-right: 10px;
                    transition: 1s;
        
                    &:hover {
                        background-color: $pr1-dark-1;
                        border: none;
                    }
                    
                    div {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
        
                    }    
                }
            }
            .phone {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                order: 3;
        
                a {
                    text-decoration: none;
                    display: inline-block;
                    width: 31px;
                    height: 31px;
                    border: 1px solid $light;
                    border-radius: 50%;
                    background-color: $light;
                    font-size: 19px;
                    color: $primary-1;
                    margin-right: 15px;
                    transition: 1s;
        
                    &:hover {
                        background-color: $pr1-dark-1;
                        border: none;
                        color: $light;
                    }
                    
                    div {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }    
                }
                .number {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
        
                    .numb-1 {
                        font-family: $font-medium;
                        font-size: 13px;
                        line-height: 16px;
                        color: $light;
                    }
        
                    .numb-2 {
                        font-family: $font-regular;
                        font-size: 16px;
                        line-height: 16px;
                        color: $light;
                        transition: 1s;
        
                        &:hover {
                            color: $primary-3;
                        }
                    }
                }        
            }
            .email {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                order: 4;
        
                a {
                    text-decoration: none;
                    display: inline-block;
                    width: 31px;
                    height: 31px;
                    border: 1px solid $light;
                    border-radius: 50%;
                    background-color: $light;
                    font-size: 16px;
                    color: $primary-1;
                    margin-right: 15px;
                    transition: 1s;
        
                    &:hover {
                        background-color: $pr1-dark-1;
                        border: none;
                        color: $light;
                    }
                    
                    div {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }   
                }
                .em {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
        
                    .em-1 {
                        font-family: $font-medium;
                        font-size: 13px;
                        line-height: 16px;
                        color: $light;
                    }
        
                    .em-2 {
                        font-family: $font-medium;
                        font-size: 13px;
                        line-height: 16px;
                        color: $light;
                        transition: 1s;
        
                        &:hover {
                            color: $primary-3;
                        }
                    }
                }
            }
        }
    }
}