h1,
h2,
h3,
h4,
h5,
h6,
ul,
body {
    margin: 0;
    padding: 0;
}

h1 {
    @include heading(35px, $font-bold, $pr4-dark-3, 5px);
}

h2 {
    @include heading(33px, $font-medium, $pr4-dark-2, 5px);

    &:hover {
        color: $light;
        background-color: $primary-1;
    }
}

h3 {
    @include heading(27px, $font-medium, $pr4-dark-3, 5px);
}

h4 {
    @include heading(22px, $font-medium, $pr4-dark-3, 5px);
}

h5 {
    @include heading(17px, $font-medium, $pr4-dark-3, 5px);
}

h6 {
    @include heading(15px, $font-medium, $pr4-dark-3, 5px);
}

p {
    @include heading(14px, $font-regular, $pr4-dark-1, 0px);
}

.styles-for-list {
    list-style-type: none;

    li {
        font-family: $font-medium;
        font-size: 15px;
        color: $pr4-dark-1;
        position: relative;
        display: flex;
        align-items: center;

        &::before {
            content: '';
            display: block;
            width: 12px;
            height: 12px;
            background-color: $primary-1;
            border-radius: 50%;
            position: relative;
            margin-right: 5px;
        }

        &::after {
            content: '';
            display: block;
            width: 7px;
            height: 4px;
            border: 1px solid $light;
            border-width: 0 0 1px 1px;
            transform: rotate(-45deg);
            position: absolute;
            left: 3px;
            top: 8px;
        }
    }
}

.subtitle {
    @include heading(20px, $font-medium, $pr4-dark-1, 0px);
    padding: 0 5px;

    &:hover {
        background-color: $primary-1;
        padding-left: 10px;
    }

    p:hover {
        color: $light;
    }
}

.quotation {
    @include heading(17px, $font-regular, $pr4-dark-1, 15px);

    &:hover {
        background-color: $pr1-light-3;
        border-left: 2px solid $primary-1;
        box-sizing: border-box;
    }

    p:hover {
        color: $primary-1;
    }
}

//@mixin inp($bg,$border,$padding-le,$width:320px,$height:50px,$b-radius:5px,$font:$font-regular)
.input-1 {
    @include inp($pr1-light-3, 1px solid $pr4-light-2, 20px);

    &:hover {
        background-color: $light;
    }

    &:focus {
        outline: 2px solid $pr1-light-1;
        border: none;

    }

    &:active {
        outline: 2px solid $pr1-light-1;
        border: none;

    }
}

.input-2 {
    @include inp($pr1-light-3, 1px solid $pr4-light-2, 20px);

    &:hover {
        background-color: $light;
    }

    &:focus {
        outline: 2px solid $pr1-light-1;
        border: none;
        border-radius: 5px;
    }

    &:active {
        outline: 2px solid $pr1-light-1;
        border: none;

    }

}

.input-3 {
    @include inp($light, 1px solid rgb(71, 238, 174), 20px);
    color: rgb(71, 238, 174);

    &:focus {
        outline: none;

    }

    &:active {
        outline: none;
        border: none;
    }


}

.input-4 {
    @include inp($light, 1px solid $primary-2, 20px);
    color: $primary-2;

    &:focus {
        outline: none;

    }

    &:active {
        outline: none;
        border: none;
    }


}

.input-5 {
    @include inp($pr1-light-3, 1px solid $pr4-light-2, 0px);
    text-align: center;
    color: $pr4-light-2;


    &:focus {
        outline: none;
    }

    &:active {
        outline: none;
    }

}

//checkbox

input[type=checkbox]+label {
    display: block;
    margin: 0.2em;
    cursor: pointer;
    padding: 0.2em;
    position: relative;
}

input[type=checkbox] {
    display: none;
}

input[type=checkbox]+label::before {
    content: "";
    border: 1px solid $pr4-light-1;
    border-radius: 0;
    display: inline-block;
    width: 20px;
    height: 20px;

}

input[type=checkbox]:checked+label::before {
    background-color: $primary-1;
    border-color: $primary-1;
}

input[type=checkbox]:hover+label::before {
    background-color: none;
    border-color: $primary-1;
}

input[type=checkbox]:disabled+label::before {
    background-color: $pr4-light-1;
    border-color: $pr4-light-1;
}

input[type=checkbox]:checked:disabled+label::before {
    background-color: $pr4-light-1;
    border-color: $pr4-light-1;
}

input[type=checkbox]:checked+label::after {
    content: "";
    border: 3px solid $light;
    border-style: none none solid solid;
    display: inline-block;
    width: 15px;
    height: 10px;
    padding-left: 0.2em;
    padding-bottom: 0.3em;
    margin-right: 0.2em;
    vertical-align: bottom;
    transition: .2s;
    transform: rotate(-45deg);
    position: absolute;
    left: 6px;
    top: 6px;
}

input[type=checkbox]:checked:disabled+label::after {
    content: "";
    border: 3px solid $light;
    border-style: none none solid solid;
    display: inline-block;
    width: 15px;
    height: 10px;
    padding-left: 0.2em;
    padding-bottom: 0.3em;
    margin-right: 0.2em;
    vertical-align: bottom;
    transition: .2s;
    transform: rotate(-45deg);
    position: absolute;
    left: 6px;
    top: 6px;
}

//radio

input[type=radio]+label {
    display: block;
    margin: 0.2em;
    cursor: pointer;
    position: relative;
}

input[type=radio] {
    display: none;
}

input[type=radio]+label::before {
    content: "";
    border: 1px solid $pr4-light-1;
    border-radius: 50%;
    display: inline-block;
    width: 20px;
    height: 20px;

}

input[type=radio]:checked+label::before {
    background-color: none;
    border-color: $primary-1;
}

input[type=radio]:hover+label::before {
    background-color: none;
    border-color: $primary-1;
}

input[type=radio]:disabled+label::before {
    background-color: $light;
    border-color: $pr4-light-1;
}

input[type=radio]:checked:disabled+label::before {
    background-color: $light;
    border-color: $pr4-light-1;
}

input[type=radio]:checked+label::after {
    content: "";
    background-color: $primary-1;
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    transform: rotate(-45deg);
    position: absolute;
    left: 5px;
    top: 5px;
}

input[type=radio]:checked:disabled+label::after {
    content: "";
    background-color: $pr4-light-1;
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    transform: rotate(-45deg);
    position: absolute;
    left: 5px;
    top: 5px;
}

.btn-1 {
    @include btn(220px, $primary-2, 14px, $light, none, 5px, 50px, $font-semibold);
    text-transform: uppercase;

    &:hover {
        background-color: $pr2-light-1;
    }

    &[disabled] {
        background-color: $pr4-light-2;
    }
}

.btn-2 {
    @include btn(280px, $pr1-dark-1, 14px, $light);
    text-transform: capitalize;

    &:hover {
        background-color: $pr1-light-2;
    }

    &[disabled] {
        background-color: $pr4-light-2;
    }
}

.btn-3 {
    @include btn(201px, $pr1-dark-1, 14px, $light);
    text-transform: capitalize;

    &:hover {
        background-color: $pr1-light-2;
    }

    &[disabled] {
        background-color: $pr4-light-2;
    }
}

.btn-4 {
    @include btn(220px, $light, 14px, $primary-2, 1px solid $primary-2, 5px, 50px, $font-semibold);
    text-transform: uppercase;

    &:hover {
        background-color: $pr2-light-1;
        color: $light;
        border: none;
    }

    &[disabled] {
        background-color: $pr4-light-2;
        color: $light;
        border: none;
    }
}

.btn-5 {
    @include btn(201px, $light, 14px, $primary-1, 1px solid $primary-1, 5px, 50px);
    text-transform: capitalize;

    &:hover {
        background-color: $pr1-light-2;
        color: $light;
        border: none;
    }

    &[disabled] {
        background-color: $pr4-light-2;
        color: $light;
        border: none;
    }
}

.btn-1-sm {
    @include btn(150px, $primary-2, 13px, $light, none, 5px, 40px, $font-semibold);
    text-transform: uppercase;

    &:hover {
        background-color: $pr2-light-1;
    }

    &[disabled] {
        background-color: $pr4-light-2;
    }
}

.btn-2-sm {
    @include btn(170px, $pr1-dark-1, 13px, $light, none, 5px, 40px);
    text-transform: capitalize;

    &:hover {
        background-color: $pr1-light-2;
    }

    &[disabled] {
        background-color: $pr4-light-2;
    }
}

.btn-3-sm {
    @include btn(150px, $pr1-dark-1, 13px, $light, none, 5px, 40px);
    text-transform: capitalize;

    &:hover {
        background-color: $pr1-light-2;
    }

    &[disabled] {
        background-color: $pr4-light-2;
    }
}

.btn-4-sm {
    @include btn(150px, $light, 13px, $primary-2, 1px solid $primary-2, 5px, 40px);
    text-transform: capitalize;

    &:hover {
        background-color: $pr2-light-1;
        color: $light;
        border: none;
    }

    &[disabled] {
        background-color: $pr4-light-2;
        color: $light;
        border: none;
    }
}

.btn-5-sm {
    @include btn(150px, $light, 13px, $primary-1, 1px solid $primary-1, 5px, 40px);
    text-transform: capitalize;

    &:hover {
        background-color: $pr1-light-2;
        color: $light;
        border: none;
    }

    &[disabled] {
        background-color: $pr4-light-2;
        color: $light;
        border: none;
    }
}

//tabs

.tabs {
    margin: 0 0 50px 0;

    .tabs__items {
        display: flex;

        .tabs__item {
            flex: 0 1 25%;
            height: 50px;
            display: flex;
            justify-content: center;
            justify-items: center;
            border-bottom: 1px solid $pr4-light-2;


            span {
                position: relative;
                z-index: 2;
                font-family: $font-medium;
                font-size: 14px;
                color: $pr4-light-1;

            }
        }
    }

    .tabs__items a {
        text-decoration: none;
    }

    .tabs_body {

        .tabs_block {
            padding: 20px;
            font-size: 18px;
            line-height: 24px;
            display: none;
            position: relative;
            font-size: 15px;
            font-family: $font-regular;
            color: $primary-4;


            &:nth-child(1)::before {
                border-bottom: 2px solid $primary-2;
                left: 0;
            }

            &:nth-child(2)::before {
                border-bottom: 2px solid $primary-2;
                left: 25%;
            }

            &:nth-child(3)::before {
                border-bottom: 2px solid $primary-2;
                right: 25%;
            }

            &:nth-child(4)::before {
                border-bottom: 2px solid $primary-2;
                right: 0;
            }

            &:target {
                display: block;
            }

            &::before {
                content: '';
                height: 50px;
                width: 25%;
                position: absolute;
                top: -50px;
            }
        }

    }
}

//pagination

.pagination {

    a {
        color: $dark;
        float: left;
        padding: 8px 16px;
        border-radius: 50%;
        text-decoration: none;
        transition: background-color .3s;
        
        &:active {
            background-color: blueviolet;
            color: white;
        }
        &:hover:not(.active) {
            background-color: $primary-1;
            color: $light;
        }
    }
}
//paginattion html
/* <h3>pagination</h3>
    <div class="pagination">
        <a href="#"><</a>
        <a href="#">1</a>
        <a class="active" href="#">2</a>
        <a href="#">3</a>
        <a href="#">4</a>
        <a href="#">5</a>
        <a href="#">6</a>
        <a href="#">7</a>
        <a href="#">8</a>
        <a href="#">9</a>
        <a href="#">></a>
    </div>
    */